{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">About Us</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/1.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/4.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
<br/><br/>
<p align="justify">
Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo aenean convallis viverra dui urna bibendum lorem penatibus. Ultrices proin aptent class euismod ex aliquam dignissim nisl. Tristique augue diam nec urna; dictum nisl. Urna porta ipsum tristique nunc scelerisque lacus. Augue aliquam massa habitasse, feugiat aptent penatibus. Ut proin auctor maximus egestas integer, iaculis faucibus placerat non. Felis torquent mattis tincidunt quis elit litora urna et.
<br/><br/>
Elementum viverra efficitur consequat euismod semper ante. Senectus mauris euismod dictum suscipit habitasse etiam aenean. Dolor penatibus turpis accumsan litora venenatis molestie. Platea tortor quisque vitae ac elit placerat dis. Integer vehicula dignissim fermentum ligula; sem non auctor. Ridiculus tempor ridiculus taciti integer; mattis feugiat habitant. Dapibus scelerisque vulputate ipsum aliquet proin finibus aptent quis. Bibendum tristique semper justo in orci morbi non nullam.
<br/><br/>
Mattis vehicula maecenas massa dis id; nulla euismod convallis tristique. Pharetra vitae quis ipsum in eleifend. Velit et integer donec faucibus elementum. Elementum habitant sapien malesuada rutrum; consequat pharetra. Turpis quisque laoreet dolor erat purus massa; bibendum hendrerit. Phasellus natoque sem montes cursus scelerisque posuere turpis ullamcorper nisi. Quis habitasse justo ultrices nullam vivamus libero enim purus.
</p>
<br/><br/>


            </div>
        </center>
    </div>
</div>

{% endblock %}